.collaps {
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	transition: 0.2s ease;
	background-color: #1E90FF;
	font-weight: 700;
	font-size: 15px;
	color: #ffffff;
	transition: 1s;
}

.collaps:hover {
	background-color: #00008B;
}

.collaps:focus {
	outline: 5px solid rgba(65, 105, 225, 0.7);
}

.content {
	padding: 0 15px;
	max-height: 0;
	overflow: hidden;
	border: 0px solid #e0e0e0;
	border-radius: 5px;
	transition: 0.2s ease;
}

.content.open {
	border-width: 1px;
}